Checks: 'bugprone-*, cppcoreguidelines-*, readability-identifier-naming, -cppcoreguidelines-avoid-non-const-global-variables, -bugprone-branch-clone, -cppcoreguidelines-pro-type-vararg, -bugprone-easily-swappable-parameters, -cppcoreguidelines-avoid-c-arrays'
WarningsAsErrors: 'cppcoreguidelines-*, bugprone-*, readability-identifier-naming'
FormatStyle: 'file'
SystemHeaders: false
CheckOptions:
  - { key: readability-identifier-naming.ClassMemberCase, value: 'lower_case' }
  - { key: readability-identifier-naming.ClassMemberPrefix, value: '_' }
  - { key: readability-identifier-naming.FunctionCase, value: 'lower_case' }